[user]
	name = Grady Congdon
	email = gradycongdon@gmail.com
[core]
	autocrlf = input
	editor = /usr/bin/vim
	eol = lf
[push]
	default = matching
[alias]
	a = add
	aa = add -A .

	k = checkout
  jk = checkout -
  km = checkout master
  b = checkout -b
  kb = checkout -b
	zz = checkout --

  co = commit
	com = commit -m
  recom = commit --amend -C HEAD

	last = diff HEAD~1 HEAD
	l = diff HEAD~1 HEAD
	staged = diff --staged
	d = diff
	g = diff --staged
  conflicts = diff --name-only --diff-filter=U
  cons = diff --name-only --diff-filter=U

	logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)' --all

  poh = push origin HEAD
  pgh = push github HEAD

	xx = reset HEAD --


	s = status

[color]
  ui = auto
  diff = true
  status = true
  branch = true
  interactive = true
  pager = true
[merge]
	tool = vimdiff
[help]
  autocorrect = 3
[credential]
	helper = store
[diff]
	tool = vimdiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
