[user]
	name = GradyCongdon
	email = gradycongdon@gmail.com
[core]
	autocrlf = input
	editor = /usr/bin/vim
	eol = lf
[push]
	default = matching
[alias]
  a = add
  aa = add -A .
  abandon = checkout --
  b = checkout -b
  co = commit
  com = commit -m
  conflicts = diff --name-only --diff-filter=U
  cons = diff --name-only --diff-filter=U
  d = diff
  g = diff --staged
  git = status
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)' --all
  jk = checkout -
  k = checkout
  kb = checkout -b
  km = checkout main
  kms = checkout master
  l = diff HEAD~1 HEAD
  last = diff HEAD~1 HEAD
  logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m = checkout main
  pick = cherry-pick
  pgh = push github HEAD
  poh = push origin HEAD
  pnv = push --no-verify origin HEAD
  recom = commit --amend -C HEAD
  s = status
  staged = diff --staged
  unstage = reset HEAD --
  wut = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  x = reset HEAD --
  xx = reset HEAD --
  z = checkout --
  zz = checkout --

[color]
  ui = auto
  diff = true
  status = true
  branch = true
  interactive = true
  pager = true
[merge]
	tool = vimdiff
[help]
  autocorrect = 3
[credential]
	helper = store
[diff]
	tool = vimdiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

